* {
        margin: 0;
        padding: 0;
        box-sizing: border-box; /*A esplicar*/
        /*color: #242625;*/
}

body {
        font-family: sans-serif;
}

nav {
        background-color: #edf9f1;
}

        /*Temporario*/
p, ul {
        border: 3px;
        padding: 10px;
}

ul {
        list-style:none;
        padding: 20px;
        margin: 10px;
        display: flex;
}

.list-item li {
        margin: 10px;
}

.list-item a {
	background-color: green;
        color: #fff;
        text-decoration: none;
        padding: 15px 25px;
        border-bottom: 4px solid black;
        border-radius: 40px 20px;
}

.list-item a:hover {
        color: black;
        background-color: lightgreen;
}

.main-container {
        font-size: 16px;
        padding: 20px;
        margin:20px, 40px;
	
	/*background-image: url("../resources/images/new-images/icon1.png");
	background-repeat: round;
	background-attachment: local;
	/*background-position: center-center;
	background-size: 50px 50px;*/
}

.banner {
        /*
        padding-left: 5px;
        padding-right: 50px;
        padding-bottom: 10;
        padding-top: 15px;*/
      	width 100%;
	border: 8px solid #1A732C;
	height: 200px;
	color: rgb(239, 234, 234);
	padding: 20px;
        /*background-image: url("../resources/images/new-images/img2.jpg");
	background-image: linear-gradient(105deg, rgb(11 97 468 / 100%) 38%, rgb(44 278 4 / 100%) 86%);
        margin-bottom: 40px;
	display: flex;
	border-radius: 40px 20px ;
	background-clip: padding-box;*/
	background: blue url("../resources/images/new-images/img2.jpg") repeat center/cover;
}

.cinza-container {
        color: #c7ccca;
}

.title {
        font-size: 24px;
        color: #33C480;
}

.block {
        /*display: inline;      */
        /*display: block;       */
        /*display: inline-block */
}

p {
	color: #444444;
	font-size: 1.3em;
	font-family: "Lato", Arial, sans-serif;
	/*font-stretch: expanded;*/
	text-align: justify;
	font-style: normal;
	font-weight: none;
	text-transform: none;
	text-decoration: none;
	/*text-shadow: 4px 4px 6px green*/
	line-height: 1.5;
	letter-spacing: 0px;
	word-spacing: 2px;
	text-indent: 15px;
}

.title-first {
	display: block;
	font-size: 4,4em;
	text-shadow: 6px 6px 10px green, 1px 6px 10px #34C37D;
	margin: 20px 0px;
	text-align: center;	
}
